<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Willkommen <%= @user.vorname %> <%= @user.nachname %> </h1>

<p>Der Schichtplan wurde geändert.<br>
  <!--  <br>
   bei vorhandener URL: Link zum Login -->
</body>

</html>